

// Zeroing

*,
*::after,
*::before 
	margin: 0
	padding: 0
	box-sizing: inherit


// Basic

html

	// root font-size - this defines what 1rem is
	font-size: 62.5%


body 
	box-sizing: border-box

	min-width: 320px
	min-height: 100vh

	overflow-x: hidden

	background-color: transparent


.container
	min-width: 100%
	min-height: 100vh


	&.theme_dark
		background: radial-gradient(70.24% 70.24% at 49.87% 29.76%, rgba(18, 12, 1, .9) 0%, #000 100%)
		border-radius: 6px


.btn
	

	&,
	&:link,
	&:visited
		display: inline-block
		border: none

