

// COLORS

$color_primary: #ffffff
$color_text: #FCFBF7
$color_description_text: #918F8A

$color_chart_primary--1: #FFA300
$color_chart_primary--2: #2D1C00
$color_chart_primary--3: rgb(255, 255, 255)
$color_chart_primary--4: rgb(255, 162, 0)

$color_chart_secondary--1: rgb(0, 0, 0)
$color_chart_secondary--2: rgb(0, 0, 0)
$color_chart_secondary--3: #000000
$color_chart_secondary--4: #231900
$color_chart_secondary--5: #4D4D4D
$color_chart_secondary--6: rgb(255, 255, 255)
$color_chart_secondary--7: rgb(103, 103, 103)

$color_container_voted--1: #FFA300
$color_container_voted--2: #2D1C00
$color_container_voted--3: rgb(255, 255, 255)
$color_container_voted--4: rgb(255, 162, 0)

$color_container_hovered--1: rgb(68, 58, 42)
$color_container_hovered--2: rgb(0, 0, 0)
$color_container_hovered--3: rgb(255, 255, 255)
$color_container_hovered--4: rgb(255, 255, 255)

$color_emoji: #FCFBF7

$color_btn_dark: #FCFBF7
$color_btn_dark--hover: #918F8A

$color_list_person_value: #BFBFBF

$color_separatop: #918F8A
$color_footer_separatop: #BFBFBF

$color_chart_list_value: #918F8A
$color_chart_list_value--primary: #FCFBF7

$color_chart_list_number: #918F8A


// FONT

$default_fs: 1.6rem
