

// COLORS

$color_bg_dark--1: rgb(18, 12, 1)
$color_bg_dark--2: #000

$color_bg_light: #fff

$color_text: #FCFBF7
$color_text_light: #261C00

$color_description_text: #918F8A
$color_description_text_light: #BFBFBF

$color_chart_primary--1: #FFA300
$color_chart_primary--2: #2D1C00
$color_chart_primary--3: rgb(255, 255, 255)
$color_chart_primary--4: rgb(255, 162, 0)

$color_chart_primary--1-light: #FFF2D1
$color_chart_primary--2-light: #FFD66C
$color_chart_primary--3-light: rgb(255, 255, 255)
$color_chart_primary--4-light: rgb(255, 176, 57)

$color_chart_secondary--1: rgb(0, 0, 0)
$color_chart_secondary--2: rgb(0, 0, 0)
$color_chart_secondary--3: #000000
$color_chart_secondary--4: #231900
$color_chart_secondary--5: #4D4D4D
$color_chart_secondary--6: rgb(255, 255, 255)
$color_chart_secondary--7: rgb(103, 103, 103)

$color_chart_secondary--1-light: rgb(244, 244, 244)
$color_chart_secondary--2-light: #E9E9E9
$color_chart_secondary--3-light: rgb(234, 234, 234)
$color_chart_secondary--4-light: rgb(255, 255, 255)
$color_chart_secondary--5-light: rgb(207, 207, 207)

$color_container_voted--1: #FFA300
$color_container_voted--2: #2D1C00
$color_container_voted--3: rgb(255, 255, 255)
$color_container_voted--4: rgb(255, 162, 0)

$color_container_voted--1-light: #FFF2D1
$color_container_voted--2-light: #FFD66C
$color_container_voted--3-light: rgb(255, 255, 255)
$color_container_voted--4-light: rgb(255, 176, 57)

$color_container_hovered--1: rgb(68, 58, 42)
$color_container_hovered--2: rgb(0, 0, 0)
$color_container_hovered--3: rgb(255, 255, 255)
$color_container_hovered--4: rgb(255, 255, 255)

$color_container_hovered--1-light: rgb(244, 244, 244)
$color_container_hovered--2-light: #E9E9E9
$color_container_hovered--3-light: rgb(234, 234, 234)
$color_container_hovered--4-light: rgb(255, 255, 255)
$color_container_hovered--5-light: rgb(207, 207, 207)

$color_emoji: #FCFBF7

$color_btn_dark: #FCFBF7
$color_btn_dark--hover: #918F8A

$color_btn_light: #F4B000
$color_btn_light--hover: #BFBFBF

$color_list_person_value: #BFBFBF

$color_separatop: #918F8A
$color_separatop--light-dark: #261C00
$color_separatop_light: #BFBFBF

$color_footer_separatop: #BFBFBF

$color_chart_list_value: #918F8A
$color_chart_list_value--light: #BFBFBF
$color_chart_list_value--primary: #FCFBF7

$color_chart_list_number: #918F8A
$color_chart_list_number--light: #BFBFBF

$color_footer_dot--1: rgb(255, 163, 0)
$color_footer_dot--2: rgb(91, 58, 0)

$color_footer_dot--3: rgb(248, 158, 0)
$color_footer_dot--4: rgb(255, 255, 255)
$color_footer_dot--5: rgb(255, 162, 0)

$color_footer_dot--6: rgb(99, 63, 0)
$color_footer_dot--7: rgb(15, 9, 0)

$color_footer_dot--8: rgb(147, 93, 0)
$color_footer_dot--9: rgb(255, 255, 255)
$color_footer_dot--10: rgb(202, 129, 0)

$color_footer_dot--11: rgb(151, 151, 151)
$color_footer_dot--12: rgb(41, 41, 41)

$color_footer_dot--13: rgb(255, 255, 255)

$color_footer_dot--14: rgb(62, 62, 62)
$color_footer_dot--15: rgb(40, 40, 40)

$color_footer_dot--16: rgb(255, 255, 255)

$color_footer_dot--1-light: rgb(255, 184, 0)
$color_footer_dot--2-light: rgb(255, 239, 153)

$color_footer_dot--3-light: rgb(255, 255, 255)
$color_footer_dot--4-light: rgb(255, 176, 57)

$color_footer_dot--5-light: rgb(255, 184, 0)
$color_footer_dot--6-light: rgb(255, 239, 153)

$color_footer_dot--7-light: rgb(166, 166, 166)
$color_footer_dot--8-light: rgb(203, 203, 203)

$color_footer_dot--9-light: rgb(105, 105, 105)

$color_footer_dot--10-light: rgb(191, 191, 191)
$color_footer_dot--11-light: rgb(228, 228, 228)

$color_footer_dot--12-light: rgb(131, 131, 131)

$color_legend--1: rgb(64, 59, 54)
$color_legend--2: rgb(0, 0, 0)

$color_legend--3: rgb(255, 255, 255)
$color_legend--4: rgb(112, 102, 94)

$color_legend--5: rgb(64, 59, 54)
$color_legend--6: rgb(19, 18, 17)

$color_legend--7: rgb(19, 17, 16)

$color_legend--8: rgb(35, 22, 0)
$color_legend--9: rgb(112, 92, 94)

$color_legend--10: rgb(93, 116, 141)
	
$color_legend--11: rgb(33, 22, 2)
$color_legend--12: rgb(172, 113, 9)

$color_legend--13: rgb(242, 159, 13)

$color_legend--14: #201502
$color_legend--15: #C7830A

$color_legend--1-light: rgb(255, 255, 255)
$color_legend--2-light: rgb(255, 255, 255)

$color_legend--3-light: rgb(103, 103, 103)

$color_legend--4-light: rgb(250, 250, 250)
$color_legend--5-light: rgb(106, 106, 106)

$color_legend--6-light: #FFF6DD
$color_legend--7-light: #FFFEFA

$color_legend--8-light: rgb(255, 176, 57)

$color_legend--9-light: rgb(255, 186, 6)
$color_legend--10-light: #FFF2AD


// FONT

$default_fs: 1.6rem


// Breakpoints

$phone: 410px
$laptop: 1200px
