doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		
		link(rel="stylesheet" href="../css/stories.css")
		
		title Vote | Yandex Stories | 1st task

	body

		.container(class="u-df-column-between")
		
			header.header
				h1.header__title(class="title") Самый 🔎 внимательный разработчик
				p.header__description(class="description-text") Спринт № 213


			main.main
				.main__content.main__content--vote


					ul.list-vote(class="u-df-center-between")


						//- vertical
						li.list-vote__item(class="u-df-column-evenly vertical")

							.list-vote__person-container(class="u-df-center")
								.list-vote__person.person
									img.person__avatar(src="../img/1.jpg" alt="Евгений Дементьев")
									p.person__name Евгений Дементьев

							.list-vote__person-container(class="u-df-center")
								.list-vote__person.person
									img.person__avatar(src="../img/12.jpg" alt="Алексей Ярошевич")
									p.person__name Алексей Ярошевич

							.list-vote__person-container(class="u-df-center")
								.list-vote__person.person
									img.person__avatar(src="../img/5.jpg" alt="Александр Николаичев")
									p.person__name Александр Николаичев
						//- end vertical block


						//- horizontal
						li.list-vote__item(class="u-df-center horizontal")

							.list-vote__person-container(class="u-df-center")
								.list-vote__person.person
									img.person__avatar(src="../img/1.jpg" alt="Евгений Дементьев")
									p.person__name Евгений Дементьев
						//- end horizontal block


						//- horizontal
						li.list-vote__item(class="u-df-column-between horizontal")

							.list-vote__central-container.list-vote__central-container--voted(class="u-df-center-between")

								p.list-vote__emoji 👍
								.person
									img.person__avatar(src="../img/4.jpg" alt="Вадим Пацев")
									p.person__name Вадим Пацев

							.list-vote__central-container.list-vote__central-container--hovered(class="u-df-center")

								.person
									img.person__avatar(src="../img/11.jpg" alt="Юрий Фролов")
									p.person__name Юрий Фролов
						//- end horizontal block


						li.list-vote__item(class="u-df-column-evenly")

							button.list-vote__btn.list-vote__btn--up.list-vote__btn--disabled(class="btn")


							//- vertical
							.list-vote__central-container.list-vote__central-container--voted(class="u-df-center vertical")

								p.list-vote__emoji 👍
								.person
									img.person__avatar(src="../img/4.jpg" alt="Вадим Пацев")
									p.person__name Вадим Пацев
							//- end vertical block


							//- vertical
							.list-vote__central-container.list-vote__central-container--hovered(class="u-df-center vertical")
								.person
									img.person__avatar(src="../img/11.jpg" alt="Юрий Фролов")
									p.person__name Юрий Фролов
							//- end vertical block


							button.list-vote__btn.list-vote__btn--down(class="btn")


						//- vertical
						li.list-vote__item(class="u-df-column-evenly vertical")

							.list-vote__person-container(class="u-df-center")
								.list-vote__person.person
									img.person__avatar(src="../img/10.jpg" alt="Яна Берникова")
									p.person__name Яна Берникова

							.list-vote__person-container(class="u-df-center")
								.list-vote__person.person
									img.person__avatar(src="../img/2.jpg" alt="Александр Шлейко")
									p.person__name Александр Шлейко

							.list-vote__person-container(class="u-df-center")
								.list-vote__person.person
									img.person__avatar(src="../img/6.jpg" alt="Андрей Мокроусов")
									p.person__name Андрей Мокроусов
						//- end vertical block


						//- horizontal
						li.list-vote__item(class="u-df-column-between horizontal")

							.list-vote__person-container(class="u-df-center")
								.list-vote__person.person
									img.person__avatar(src="../img/10.jpg" alt="Яна Берникова")
									p.person__name Яна Берникова

							.list-vote__person-container(class="u-df-center")
								.list-vote__person.person
									img.person__avatar(src="../img/2.jpg" alt="Александр Шлейко")
									p.person__name Александр Шлейко
						//- end horizontal block


						//- horizontal
						li.list-vote__item(class="u-df-center horizontal")

							.list-vote__person-container(class="u-df-center")
								.list-vote__person.person
									img.person__avatar(src="../img/12.jpg" alt="Алексей Ярошевич")
									p.person__name Алексей Ярошевич
						//- end horizontal block
