doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		
		link(rel="stylesheet" href="../css/stories.css")
		
		title Vote | Yandex Stories | 1st task

	body

		.container(class="u-df-column-between theme_dark")
		
			header.header
				h1.header__title(class="title") Самый 🔎 внимательный разработчик
				p.header__description(class="description-text") Спринт № 213


			main.main
				.main__content.main__content--vote


					ul.list-vote(class="u-df-center-between")

						li.list-vote__item.list-vote__item--side(class="u-df-column-between")

							.list-vote__person.person
								img.person__avatar(src="../img/1.jpg" onerror="../img/no_avatar.png" alt="Евгений Дементьев")
								p.person__name Евгений Дементьев

							.list-vote__person.person
								img.person__avatar(src="../img/12.jpg" onerror="../img/no_avatar.png" alt="Алексей Ярошевич")
								p.person__name Алексей Ярошевич

							.list-vote__person.person
								img.person__avatar(src="../img/5.jpg" onerror="../img/no_avatar.png" alt="Александр Николаичев")
								p.person__name Александр Николаичев


						li.list-vote__item.list-vote__item--central(class="u-df-column-between")

							button.list-vote__btn.list-vote__btn--up.list-vote__btn--disabled(class="btn")

							.list-vote__central-container.list-vote__central-container--voted(class="u-df-center")

								p.list-vote__emoji 👍
								.person
									img.person__avatar(src="../img/4.jpg" onerror="../img/no_avatar.png" alt="Вадим Пацев")
									p.person__name Вадим Пацев

							.list-vote__central-container.list-vote__central-container--hovered(class="u-df-center")
								.person
									img.person__avatar(src="../img/11.jpg" onerror="../img/no_avatar.png" alt="Юрий Фролов")
									p.person__name Юрий Фролов

							button.list-vote__btn.list-vote__btn--down(class="btn")


						li.list-vote__item.list-vote__item--side(class="u-df-column-between")

							.list-vote__person.person
								img.person__avatar(src="../img/10.jpg" onerror="../img/no_avatar.png" alt="Яна Берникова")
								p.person__name Яна Берникова

							.list-vote__person.person
								img.person__avatar(src="../img/2.jpg" onerror="../img/no_avatar.png" alt="Александр Шлейко")
								p.person__name Александр Шлейко

							.list-vote__person.person
								img.person__avatar(src="../img/6.jpg" onerror="../img/no_avatar.png" alt="Андрей Мокроусов")
								p.person__name Андрей Мокроусов



