doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		
		link(rel="stylesheet" href="../css/stories.css")
		
		title Chart | Yandex Stories | 1st task

	body

		.container(class="u-df-column-between")
		
			header.header
				h1.header__title(class="title") Коммиты
				p.header__description(class="description-text") Спринт № 213


			main.main
				.main__content.main__content--chart(class="u-df-center")

					ul.chart-list(class="u-df-center-end")

						//- horizontal						
						li.chart-list__item(class="u-df-column-center-end horizontal")

							.chart-list__value 112
							.chart-list__rectangle.chart-list__rectangle--1.chart-list__rectangle--secondary
							.chart-list__number 207


						li.chart-list__item(class="u-df-column-center-end horizontal")

							.chart-list__value 152
							.chart-list__rectangle.chart-list__rectangle--2.chart-list__rectangle--secondary
							.chart-list__number 208


						li.chart-list__item(class="u-df-column-center-end horizontal")

							.chart-list__value 128
							.chart-list__rectangle.chart-list__rectangle--3.chart-list__rectangle--secondary
							.chart-list__number 209
						//- end horizontal block


						li.chart-list__item(class="u-df-column-center-end")

							.chart-list__value 164
							.chart-list__rectangle.chart-list__rectangle--4.chart-list__rectangle--secondary
							.chart-list__number 210


						li.chart-list__item(class="u-df-column-center-end")

							.chart-list__value 164
							.chart-list__rectangle.chart-list__rectangle--5.chart-list__rectangle--secondary
							.chart-list__number 211


						li.chart-list__item(class="u-df-column-center-end")

							.chart-list__value 118
							.chart-list__rectangle.chart-list__rectangle--6.chart-list__rectangle--secondary
							.chart-list__number 212


						li.chart-list__item(class="u-df-column-center-end")

							.chart-list__value.chart-list__value--primary 140
							.chart-list__rectangle.chart-list__rectangle--7.chart-list__rectangle--primary
							.chart-list__number 213


						li.chart-list__item(class="u-df-column-center-end")

							.chart-list__value 
							.chart-list__rectangle.chart-list__rectangle--8.chart-list__rectangle--secondary
							.chart-list__number 214


						li.chart-list__item(class="u-df-column-center-end")

							.chart-list__value 
							.chart-list__rectangle.chart-list__rectangle--9.chart-list__rectangle--secondary
							.chart-list__number 215


			footer.chart-footer

				ul.chart-footer__list


					li.chart-footer__item(class="u-df-center-start")

						img.chart-footer__avatar(src="../img/3.jpg" alt="Дарья Ковалева")

						.chart-footer__data
							p.chart-footer__name Дарья Ковалева
							p.chart-footer__value 32


					li.chart-footer__item(class="u-df-center-start")

						img.chart-footer__avatar(src="../img/9.jpg" alt="Сергей Бережной")

						.chart-footer__data
							p.chart-footer__name Сергей Бережной
							p.chart-footer__value 27
