doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		
		link(rel="stylesheet" href="../css/stories.css")
		
		title Diagram | Yandex Stories | 1st task

	body

		.container(class="u-df-column-between theme_dark")
		
			header.header
				h1.header__title(class="title") Размер коммитов
				p.header__description(class="description-text") Спринт № 213


			.diagram-content(class="u-df-column-between")

				main.diagram-main.main
					.main__content.main__content--diagram(class="u-df-center")

						.diagram-container

							
							.diagram(class="u-df-center")
							
								<svg class="diagram__svg" fill="none" xmlns="http://www.w3.org/2000/svg">
									<g filter="url(#filter0_dii)">
										<path class="vertical" d="M 83.63980596190675 21.037630076442838 A 164 164 0 0 1 244.36019403809323 21.037630076442838 L 220.25213582666527 63.92634105350999 A 114.8 114.8 0 0 0 107.74786417333473 63.92634105350999 Z" fill="url(#paint0_radial)" fill-opacity="0.8" />
										<path class="horizontal" d="M 61.19985802090738 15.393387860811828 A 120 120 0 0 1 178.80014197909261 15.393387860811828 L 161.16009938536482 46.77537150256828 A 84 84 0 0 0 78.83990061463516 46.77537150256828 Z" fill="url(#paint0_radial)" fill-opacity="0.8" />
									</g>
									<g filter="url(#filter1_dii)">
										<path class="vertical" d="M 246.8429921764511 22.461882705567746 A 164 164 0 0 1 327.78501239741536 172.3946241118052 L 278.6495086781907 169.87623687826365 A 114.8 114.8 0 0 0 221.99009452351578 64.92331789389743 Z" fill="url(#paint1_radial)" fill-opacity="0.5" />
										<path class="horizontal" d="M 180.61682354374472 16.43552393090323 A 120 120 0 0 1 239.8426919981088 126.142407886686742 L 203.88988439867614 124.29968552068071 A 84 84 0 0 0 162.4317764806213 47.504866751632264 Z" fill="url(#paint1_radial)" fill-opacity="0.5" />
									</g>
									<g filter="url(#filter2_dii)">
										<path class="vertical" d="M 327.6135607548292 175.2517881745879 A 164 164 0 0 1 88.56633385366113 309.62198327080523 L 111.19643369756278 265.93538828956366 A 114.8 114.8 0 0 0 278.5294925283805 171.87625172221152 Z" fill="url(#paint2_radial)" fill-opacity="0.5" />
										<path class="horizontal" d="M 239.71723957670434 128.23301573750334 A 120 120 0 0 1 64.80463452706911 226.55267068595506 L 81.36324416894838 194.58686948016856 A 84 84 0 0 0 203.80206770369304 125.76311101625234 Z" fill="url(#paint2_radial)" fill-opacity="0.5" />
									</g>
									<g filter="url(#filter3_dii)">
										<path class="vertical" d="M 86.03636872814101 308.28330533677695 A 164 164 0 0 1 81.15700782354884 22.461882705567774 L 106.00990547648419 64.92331789389745 A 114.8 114.8 0 0 0 109.42545810969872 264.99831373574386 Z" fill="url(#paint3_radial)" fill-opacity="0.5" />
										<path class="horizontal" d="M 62.95344053278611 225.5731502464222 A 120 120 0 0 1 59.38317645625524 16.43552393090326 L 77.56822351937868 47.50486675163228 A 84 84 0 0 0 80.06740837295027 193.9012051724955 Z" fill="url(#paint3_radial)" fill-opacity="0.5" />
									</g>
									<defs>
										<filter id="filter0_dii" x="0" y="0" width="328" height="328" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
											<feFlood flood-opacity="0" result="BackgroundImageFix"/>
											<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
											<feMorphology radius="8" operator="erode" in="SourceAlpha" result="effect1_dropShadow"/>
											<feOffset/>
											<feGaussianBlur stdDeviation="10"/>
											<feColorMatrix type="matrix" values="0 0 0 0 0.972549 0 0 0 0 0.618715 0 0 0 0 0 0 0 0 0.2 0"/>
											<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
											<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
											<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
											<feOffset/>
											<feGaussianBlur stdDeviation="10"/>
											<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
											<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.636666 0 0 0 0 0 0 0 0 0.9 0"/>
											<feBlend mode="normal" in2="shape" result="effect2_innerShadow"/>
											<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
											<feOffset dx="-1" dy="1"/>
											<feGaussianBlur stdDeviation="0.5"/>
											<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
											<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.5 0"/>
											<feBlend mode="normal" in2="effect2_innerShadow" result="effect3_innerShadow"/>
										</filter>
										<filter id="filter1_dii" x="0" y="0" width="328" height="328" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
											<feFlood flood-opacity="0" result="BackgroundImageFix"/>
											<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
											<feMorphology radius="8" operator="erode" in="SourceAlpha" result="effect1_dropShadow"/>
											<feOffset/>
											<feGaussianBlur stdDeviation="10"/>
											<feColorMatrix type="matrix" values="0 0 0 0 0.575 0 0 0 0 0.365803 0 0 0 0 0 0 0 0 0.2 0"/>
											<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
											<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
											<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
											<feOffset/>
											<feGaussianBlur stdDeviation="10"/>
											<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
											<feColorMatrix type="matrix" values="0 0 0 0 0.791667 0 0 0 0 0.504028 0 0 0 0 0 0 0 0 0.9 0"/>
											<feBlend mode="normal" in2="shape" result="effect2_innerShadow"/>
											<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
											<feOffset dx="-1" dy="1"/>
											<feGaussianBlur stdDeviation="0.5"/>
											<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
											<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.5 0"/>
											<feBlend mode="normal" in2="effect2_innerShadow" result="effect3_innerShadow"/>
										</filter>
										<filter id="filter2_dii" x="0" y="0" width="328" height="328" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
											<feFlood flood-opacity="0" result="BackgroundImageFix"/>
											<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
											<feMorphology radius="8" operator="erode" in="SourceAlpha" result="effect1_dropShadow"/>
											<feOffset/>
											<feGaussianBlur stdDeviation="10"/>
											<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"/>
											<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
											<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
											<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
											<feOffset/>
											<feGaussianBlur stdDeviation="10"/>
											<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
											<feColorMatrix type="matrix" values="0 0 0 0 0.545833 0 0 0 0 0.545833 0 0 0 0 0.545833 0 0 0 0.9 0"/>
											<feBlend mode="normal" in2="shape" result="effect2_innerShadow"/>
											<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
											<feOffset dx="-1" dy="1"/>
											<feGaussianBlur stdDeviation="0.5"/>
											<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
											<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.5 0"/>
											<feBlend mode="normal" in2="effect2_innerShadow" result="effect3_innerShadow"/>
										</filter>
										<filter id="filter3_dii" x="0" y="0" width="328" height="328" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
											<feFlood flood-opacity="0" result="BackgroundImageFix"/>
											<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
											<feMorphology radius="8" operator="erode" in="SourceAlpha" result="effect1_dropShadow"/>
											<feOffset/>
											<feGaussianBlur stdDeviation="10"/>
											<feColorMatrix type="matrix" values="0 0 0 0 0.375 0 0 0 0 0.375 0 0 0 0 0.375 0 0 0 0.2 0"/>
											<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
											<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
											<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
											<feOffset/>
											<feGaussianBlur stdDeviation="10"/>
											<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
											<feColorMatrix type="matrix" values="0 0 0 0 0.15 0 0 0 0 0.15 0 0 0 0 0.15 0 0 0 0.9 0"/>
											<feBlend mode="normal" in2="shape" result="effect2_innerShadow"/>
											<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
											<feOffset dx="-1" dy="1"/>
											<feGaussianBlur stdDeviation="0.5"/>
											<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
											<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.5 0"/>
											<feBlend mode="normal" in2="effect2_innerShadow" result="effect3_innerShadow"/>
										</filter>
										<radialGradient id="paint0_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(89.4859 176.514) rotate(90) scale(163.486)">
											<stop offset="0.71875" stop-color="#FFA300"/>
											<stop offset="1" stop-color="#5B3A00"/>
										</radialGradient>
										<radialGradient id="paint1_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(-47.5141 152.514) rotate(90) scale(163.486)">
											<stop offset="0.729167" stop-color="#633F00"/>
											<stop offset="1" stop-color="#0F0900"/>
										</radialGradient>
										<radialGradient id="paint2_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(85.4859 5.51411) rotate(90) scale(163.486)">
											<stop offset="0.71875" stop-color="#9B9B9B"/>
											<stop offset="1" stop-color="#382900"/>
										</radialGradient>
										<radialGradient id="paint3_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(175.486 152.514) rotate(90) scale(163.486)">
										<stop offset="0.71875" stop-color="#4D4D4D"/>
										<stop offset="1" stop-color="#382900"/>
										</radialGradient>
									</defs>
								</svg>


								.diagram__content(class="u-df-column-center")
									.diagram__number 182 коммита
									.diagram__plus +42 с прошлого спринта


				footer.diagram-footer

					ul.diagram-footer__list

						li.diagram-footer__item(class="u-df-center-between")

							.diagram-footer__left(class="u-df-center-start")
								.diagram-footer__dot.diagram-footer__dot--1
								.diagram-footer__rows > 1001 строки

							.diagram-footer__right(class="u-df-center-end")
								.diagram-footer__prev +8
								.diagram-footer__current 30

						li.diagram-footer__item(class="u-df-center-between")

							.diagram-footer__left(class="u-df-center-start")
								.diagram-footer__dot.diagram-footer__dot--2
								.diagram-footer__rows 501 — 1000 строк

							.diagram-footer__right(class="u-df-center-end")
								.diagram-footer__prev +6
								.diagram-footer__current 32

						li.diagram-footer__item(class="u-df-center-between")

							.diagram-footer__left(class="u-df-center-start")
								.diagram-footer__dot.diagram-footer__dot--3
								.diagram-footer__rows 101 — 500 строк

							.diagram-footer__right(class="u-df-center-end")
								.diagram-footer__prev +16
								.diagram-footer__current 58

						li.diagram-footer__item(class="u-df-center-between")

							.diagram-footer__left(class="u-df-center-start")
								.diagram-footer__dot.diagram-footer__dot--4
								.diagram-footer__rows 1 — 100 строк

							.diagram-footer__right(class="u-df-center-end")
								.diagram-footer__prev +12
								.diagram-footer__current 62


		script(type="text/javascript" src="../stories.js")
