doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		
		link(rel="stylesheet" href="../css/stories.css")
		
		title Activity | Yandex Stories | 1st task

	body

		.container(class="u-df-column-between theme_dark")
		
			header.header
				h1.header__title(class="title") Коммиты, 1 неделя
				p.header__description(class="description-text") Спринт № 213


			main.main
				.main__content.main__content--activity(class="u-df-center")

					.activity-map(class="u-df-center")

						ul.activity-map__list(class="u-df-center")
						

							li.activity-map__list-item.activity-map__list-item--1 <!-- 1 -->

								ul.activity-map__item-list(class="u-df-column-center")

									li.activity-map__bar.activity-map__bar--min
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--mid <!-- 5 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/mid-dark.svg")

									li.activity-map__bar.activity-map__bar--min
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 10 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--mid <!-- 11 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/mid-dark.svg")

									li.activity-map__bar.activity-map__bar--max <!-- 12 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/max-dark.svg")

									li.activity-map__bar.activity-map__bar--mid
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/mid-dark.svg")

									li.activity-map__bar.activity-map__bar--mid <!-- 14 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/mid-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 15 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--mid <!-- 16 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/mid-dark.svg")

									li.activity-map__bar.activity-map__bar--min
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")
						

							li.activity-map__list-item <!-- 2 -->

								ul.activity-map__item-list(class="u-df-column-center")

									li.activity-map__bar.activity-map__bar--min <!-- 1 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 2 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 3 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 4 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--mid <!-- 5 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/mid-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 6 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 7 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 8 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 9 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--extra <!-- 10 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/extra-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 11 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--max <!-- 12 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/max-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 13 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 14 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 15 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 16 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--mid <!-- 17 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/mid-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 18 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--max <!-- 19 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/max-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 20 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 21 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--mid <!-- 22 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/mid-dark.svg")

									li.activity-map__bar.activity-map__bar--mid <!-- 23 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/mid-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 24 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")
						

							li.activity-map__list-item <!-- 3 -->

								ul.activity-map__item-list(class="u-df-column-center")

									li.activity-map__bar.activity-map__bar--mid <!-- 1 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/mid-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 2 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 3 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 4 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--mid <!-- 5 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/mid-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 6 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--extra <!-- 7 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/extra-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 8 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 9 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--max <!-- 10 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/max-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 11 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 12 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 13 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--extra <!-- 14 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/extra-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 15 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--mid <!-- 16 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/mid-dark.svg")

									li.activity-map__bar.activity-map__bar--mid <!-- 17 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/mid-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 18 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 19 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 20 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 21 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 22 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 23 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--mid <!-- 24 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/mid-dark.svg")
						

							li.activity-map__list-item <!-- 4 -->

								ul.activity-map__item-list(class="u-df-column-center")

									li.activity-map__bar.activity-map__bar--min <!-- 1 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--mid <!-- 2 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/mid-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 3 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--mid <!-- 4 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/mid-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 5 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 6 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 7 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 8 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--extra <!-- 9 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/extra-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 10 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--mid <!-- 11 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/mid-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 12 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 13 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--mid <!-- 14 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/mid-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 15 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 16 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--extra <!-- 17 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/extra-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 18 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 19 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 20 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--mid <!-- 21 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/mid-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 22 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 23 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 24 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")
						

							li.activity-map__list-item <!-- 5 -->

								ul.activity-map__item-list(class="u-df-column-center")

									li.activity-map__bar.activity-map__bar--min <!-- 1 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar-- <!-- 2 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 3 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 4 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 5 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 6 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 7 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--mid <!-- 8 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/mid-dark.svg")

									li.activity-map__bar.activity-map__bar--max <!-- 9 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/max-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 10 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 11 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--extra <!-- 12 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/extra-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 13 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--max <!-- 14 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/max-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 15 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 16 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--max <!-- 17 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/max-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 18 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 19 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 20 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 21 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--mid <!-- 22 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/mid-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 23 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 24 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")
						

							li.activity-map__list-item <!-- 6 -->

								ul.activity-map__item-list(class="u-df-column-center")

									li.activity-map__bar.activity-map__bar--min <!-- 1 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 2 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 3 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 4 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--mid <!-- 5 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/mid-dark.svg")

									li.activity-map__bar.activity-map__bar--mid <!-- 6 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/mid-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 7 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 8 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--mid <!-- 9 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/mid-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 10 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--mid <!-- 11 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/mid-dark.svg")

									li.activity-map__bar.activity-map__bar--mid <!-- 12 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/mid-dark.svg")

									li.activity-map__bar.activity-map__bar--mid <!-- 13 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/mid-dark.svg")

									li.activity-map__bar.activity-map__bar--extra <!-- 14 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 15 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 16 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 17 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 18 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 19 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--mid <!-- 20 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/mid-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 21 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 22 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 23 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 24 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")
						

							li.activity-map__list-item <!-- 7 -->

								ul.activity-map__item-list(class="u-df-column-center")

									li.activity-map__bar.activity-map__bar--min <!-- 1 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 2 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 3 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 4 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 5 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 6 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 7 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--mid <!-- 8 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/mid-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 9 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 10 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 11 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 12 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--max <!-- 13 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/max-dark.svg")

									li.activity-map__bar.activity-map__bar--mid <!-- 14 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/mid-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 15 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 16 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 17 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 18 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 19 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 20 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--mid <!-- 21 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/mid-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 22 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 23 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")

									li.activity-map__bar.activity-map__bar--min <!-- 24 -->
										.activity-map__bar-container
											.activity-map__bar-content
												img.activity-map__bar-img(src="../img/min-dark.svg")


			footer.activity-footer

				ul.legend-list(class="u-df-center-between")

					li.legend-list__item

						.legend-list__designation.legend-list__designation--1
							.legend-list__designation-part-1
							.legend-list__designation-part-2
							.legend-list__designation-part-3

						p.legend-list__description 1 час

					li.legend-list__item
						.legend-list__designation.legend-list__designation--2
						p.legend-list__description 0

					li.legend-list__item
						.legend-list__designation.legend-list__designation--3
						p.legend-list__description 1 — 2

					li.legend-list__item
						.legend-list__designation.legend-list__designation--4
						p.legend-list__description 3 — 4

					li.legend-list__item
						.legend-list__designation.legend-list__designation--5
						p.legend-list__description 5 — 6



