

.main
	height: 100%
	width: 100%

	flex-grow: 1

	display: flex


	&__content
		width: 100%
		align-self: stretch


		&--leaders
			padding: 6.9rem 2.4rem 0


		&--vote
			padding: 0 2.8rem


		&--vote-results
			padding: 3.7rem 2.8rem 0


		&--chart
			position: relative
			right: 1.6rem

			padding: 9.8rem 0 0
			margin-bottom: 2.4rem


