

.activity-map
	max-width: 450px
	width: 100%


	@media screen and (orientation: landscape)
		max-width: 660px
	

	&__list
		list-style-type: unset
		width: 100%


	&__list-item
		display: inline-block
		width: calc( 100% / 7 )


		@media screen and (orientation: landscape)
			width: 100%
			position: relative


			&:nth-child(odd)
				// left: -4.166%
				left: -2.083%


			&:nth-child(even)
				// right: -4.166%
				right: -2.083%


			// Смертельный номер
			@for $i from 0 through 24

				&:nth-child(#{ $i })
					z-index: $i
			//


	&__item-list
		list-style-type: unset
		width: 100%


	&__bar
		display: inline-block
		position: relative

		max-width: 100px
		width: 100%
		

		// Смертельный номер
		@for $i from 0 through 24

			&:nth-child(#{ $i })
				z-index: $i


				@media screen and (orientation: landscape)
					z-index: unset
		//


		&:nth-child(odd)
			left: -25%


			@media screen and (orientation: landscape)
				left: unset


		&:nth-child(even)
			right: -25%


			@media screen and (orientation: landscape)
				right: unset


		&-container
			position: relative

			height: 0
			padding-top: 38.875%


		&-content
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0


	&__bar-img
		object-fit: contain

		position: absolute
		bottom: 0

		width: 100%


