

.diagram-container
	max-width: 33rem
	max-height: 33rem


.diagram
	width: 33rem
	height: 33rem

	position: relative


	&__unit
		position: absolute


		&--1
			top: -3.4%
			left: 50%

			transform: translateX(-50%)


		&--2
			top: 4.1%
			right: -3.3%


		&--3
			bottom: -3.5%
			right: -3.4%


		&--4
			left: -3.3%
			top: 4%


	&__content
		max-width: 16.4rem
		text-align: center


	&__number
		font-size: 3rem
		line-height: 3.2rem
		font-weight: bold


	&__plus
		font-size: 2rem
		line-height: 2.2rem
		font-weight: bold

		color: $color_chart_list_value

