

.person
	max-height: 10.2rem
	width: 10.4rem
	padding: 0 .4rem
	
	text-align: center


	&__avatar
		height: 6.4rem
		width: 6.4rem

		filter: grayscale(100%)

		border-radius: 50%

		display: inline-block

		margin-bottom: .2rem


	&__name
		display: inline-block

		font-weight: 500
		
		overflow: hidden
		text-overflow: ellipsis

		max-height: 3.6rem
